In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [4]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,ilulissat,GL,44.60,69.22,-51.10,Hotel Arctic
1,1,kodinsk,RU,83.46,58.69,99.18,NaN
2,2,west odessa,US,89.60,31.84,-102.50,Corporate Mobile Housing
3,3,lompoc,US,59.00,34.64,-120.46,Holiday Inn Express Lompoc
4,4,albany,US,78.01,42.60,-73.97,NaN

In [5]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [6]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_start = vacation_df.loc[vacation_df["City"] == "ilulissat"]
vacation_end = vacation_df.loc[vacation_df["City"] == "kodinsk"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "lompoc"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "albany"]

In [8]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(69.22, -51.1)
(58.69, 99.18)
(34.64, -120.46)
(42.6, -73.97)

In [9]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,ilulissat,GL,44.60,69.22,-51.10,Hotel Arctic
1,1,kodinsk,RU,83.46,58.69,99.18,NaN
3,3,lompoc,US,59.00,34.64,-120.46,Holiday Inn Express Lompoc
4,4,albany,US,78.01,42.60,-73.97,NaN

In [15]:
itenerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,ilulissat,GL,44.60,69.22,-51.10,Hotel Arctic
1,1,kodinsk,RU,83.46,58.69,99.18,NaN
2,3,lompoc,US,59.00,34.64,-120.46,Holiday Inn Express Lompoc
3,4,albany,US,78.01,42.60,-73.97,NaN

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat", "Lng"]]

In [17]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))